assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/nbproject/private/
/yii-framework-1.1.13/
/protected/.htaccess
/db/
/upload/admin/
/upload/all_file/
/protected/config/info.php